header, footer{
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
}

#seccion1, #seccion2, #seccion3{
    border: 2px solid blue;
}



@media screen and (min-width:768px) {
    header {
        margin: 10px;
        padding: 20px;
        order: 0;
    }
    section {
        margin: auto;
        width: 31%;
        overflow: hidden;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid black;
    }
    footer {
        order: 3;
        clear: both;
        margin: 10px;
        padding: 20px;
    }
    p {
        text-align: center;
        overflow: hidden;
    }
    #container {
        display: flex;
        flex-direction: column;
    }
    #contenedorPrincipal {
        display: flex;
        flex-direction: row-reverse;
    }
    .asides {
        display: flex;
        flex-direction: column;
    }
    aside {
        display: flex;
    }
    main {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:768px) {
    #container {
        display: flex;
        flex-direction: column;
    }
    main {
        order: 1;
        display: flex;
        justify-content: end;
        margin: 10%;
        text-align: center;
        flex-direction: row;
    }
    .asides {
        display: flex;
        flex-direction: row;
        order: 2;
    }
    .asides aside {
        display: flex;
        padding: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        max-width: 33%;
        justify-content: center;
    }
}